body{
  background: #FCE8F7;
}
.title{
  font: 70px/60px 'Amatic SC', cursive;
  color: #F28AD5;
  text-align: center;
  margin: 30px auto auto auto;
}
.wrap{
  margin: 40px auto auto auto;
  width: 500px;
  font: 18px/20px 'Amatic SC', cursive;
  color: #F28AD5;
  background: #FFFCFE;
  padding: 50px;
}
