ul{
  height: auto;
}
li{
  list-style-type: none;
}
button{
  border: none;
}
.fltr{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: -10px 0 41px auto;
  width: 320px;
}
.btn-fltr{
  display: inline-block;
  font: 400 12px/14px Roboto, sans-serif;
  color: #000;
  padding: 2px 8px;
  background-color: transparent;
}
.btn-fltr_active {
  background-color: #356EFF;
  color: #FFF;
  border-radius: 23px;
  padding: 2px 8px;
}
.number{
  color: #80A4FF;
  margin-left: 5px;
}

@media (min-width: 500px) and (max-width: 650px){
  .fltr{
    margin: 5px 0 35px auto;
  }
}
@media (min-width: 420px) and (max-width: 500px){
  .fltr{
    margin: 10px 0 20px auto;
  }
}
@media (min-width: 380px) and (max-width: 420px){
  .fltr{
    margin: 10px auto 20px -8px;
  }
}
@media (max-width: 380px){
  .fltr{
    flex-direction: column;
    text-align: right;
    width: auto;
    margin: -17px 0 10px auto;
  }
  .btn-fltr{
    font-size: 10px;
    line-height: 10px;
  }
}
