.input {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.input__error {
  margin-right: 10px;
  flex-grow: 1;
}
.input__error_empty, .input__error_exist{
  position: relative;
}
.input__error_empty:before, .input__error_exist:before{
  position: absolute;
  content: 'Нельзя внести пустое дело. Введите текст.';
  padding: 8px;
  width: 242px;
  font-size: 14px;
  color: #FFF;
  background-color: #356EFF;
  border-radius: 6px;
  transform: translateY(-130%);
}
.input__error_empty:before{
  content: 'Нельзя внести пустое дело. Введите текст.';
}
.input__error_exist:before{
  content: 'Такая задача уже есть в вашем списке. Введите другое название.';
}
.input__error_empty:after, .input__error_exist:after{
  content: '';
  position: absolute;
  left: 10px;
  border: 10px solid transparent;
  border-top-color: #356EFF;
  transform: translateY(-80%);
}
.input__wrap {
  border: 1px solid #CCC;
  box-sizing: border-box;
  border-radius: 41px;
  height: 36px;
  width: 100%;
  outline: none;
  padding: 0 12px;
}
.input__wrap:hover{
  border-color: #356EFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn-sub {
  height: 36px;
  width: 36px;
}
.btn-sub:hover{
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 2px;
  background: #80A4FF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media (max-width: 610px){
  .input__wrap{
    height: 30px;
    font-size: 10px;
  }
  .btn-sub {
    height: 30px;
    width: 30px;
  }
  .input__error_empty:before, .input__error_exist:before{
    width: 150px;
    font-size: 10px;
    line-height: 10px;
  }
}
